.check-subtask{
    display: flex;
    align-items: center;
    padding: .7rem ;
    background-color: #F4F7FD;
    border-radius: .25rem;
    margin: 0.5rem 0;
}

.check{
    width: 1rem;
    height: 1rem;
    border: 1px solid #828FA3;
    margin-right: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.check-subtask .check svg{
    font-size: .8rem;
}

.background-check{
    background-color: #635FC7;
}

.paragraph-check{
    text-decoration: line-through;
    color: #828FA3 !important;
}

.check-subtask p{
    font-size: .8rem;
    color: #000112;
    font-weight: 800;
}

 /* RESPONSIVE  */

 @media screen and (max-width:460px){
    .check-subtask p {
    width: 90%;
    }
 }