.subtask-crud{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.subtask-crud input{
    width: 90%;
    margin-top: 1rem;
    background-color: #fff;
    border: 1px solid #828FA3;
    border-radius: .25rem;
    padding: .5rem;
    color: #000112;
}

/* .subtask-crud p{
    width: 90%;
    margin-top: 1rem;
    background-color: #fff;
    border: 1px solid #828FA3;
    border-radius: .25rem;
    padding: .5rem;
    color: #000112;
} */

.subtask-crud svg{
   margin-left: .5rem;
   margin-top: .8rem;
   cursor: pointer;
   color:#828FA3
} 

.subtask-crud svg:hover{
    color:#EA5555;
 } 

 .error{
    margin-top: .2rem;
    color: #EA5555;
    font-size: .6rem;
 }

 .error-border{
    border-color: #EA5555;
  }

  .updated{
    color: #33D69F;
    font-size: .6rem;
    margin-top: .2rem;
  }

  